body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./img/background_no_1.jpg') no-repeat; 
  background-size: 85%;
  background-position: bottom;
  /* min-height: 40%; */
  /* edit pic so there is a lot of top whitespace */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ProjectList */


.project-list-table {
  border: 2px solid lightblue;
  border-radius: 25px;
  border-spacing: 5px;
  padding: 10px 15px 5px 15px;
  margin: 40px;
  border-collapse: separate;
}

.project-list-table th {
  border-radius: 10px;
  background: lightblue;
  padding: 10px 5px 10px 15px;
  /* margin-bottom: 10px;  does not do anything figure out spacing between 'projects' and the first project*/
  text-align: left;
  font-size: 17px;
  height: fit-content;
  vertical-align: top;
  box-shadow: 2px 2px 2px lightgrey;
}

.header-separator-cell {
  padding: 10px 0px 5px;
}

.projects-header-separator {
  padding: 0px;
  margin: 0px;
  border-top: 1px solid lightblue;
}

.projects-container {
  margin-top: 10px;
}

.project-list-container {
  max-width: 300px;
}

.project-name-cell {
  padding: 5px 0px 5px 0px;
}

.project-name-button {
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 12px;
  box-shadow: #d1d1d1 0px 2px 2px;
  text-align: left;
  font-size: 15px;
  /* color: black; */
}






/* NotesList */

.notes-header {
  padding: 13px 45px 13px 40px;
  display: flex;
  justify-content: space-between;
}

.project-header-form {
  margin-top: -15px;
}

.header-main-btn {
  margin: 5px 5px -5px 5px;
}

.header-extra-btn {
  margin: 5px 5px 5px 5px;
  bottom: -4px;
  opacity: 0;
  transition: all ease 0.8s;
}

.header-main-btn:hover ~ .header-extra-btn {
  transition-delay: 0.1s !important; /* check out what happens if you go over it fast, negligable i think */
  opacity: 1;
  visibility: visible;
}

.header-main-btn:hover > .material-icons {
  transform: rotate(90deg);
  transition: transform 0.4s;
}

.header-main-btn:not(hover) > .material-icons {
  transition: transform 6s;
}

.header-main-btn:not(hover) ~ .header-extra-btn {
  transition-delay: 5s;
  visibility: hidden;
}



.note-extra-btn {
  opacity: 0;
  transition: all ease 0.8s;
}

.note-edit-btn:hover ~ .note-extra-btn {
  transition-delay: 0.1s;
  opacity: 1;
  visibility: visible;
}

.note-edit-btn:hover > .material-icons {
  transform: rotate(360deg);
  transition: transform 1s;
}

.note-edit-btn:not(hover) > .material-icons {
  transition: transform 5s;
}

.note-edit-btn:not(hover) ~ .note-extra-btn {
  transition-delay: 4s;
  visibility: hidden;
}


.notes-container {
  margin: 40px 10px 20px;
}

.notes-header-separator {
  margin: 0px;
  padding: 0px;
  border-top: 1px solid lightgrey;
}

.note-title {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: none;
  border-top: 1px solid lightgrey;
  font-size: 18px;
  justify-content: space-between;
}

/* Diabeling below will actually be not bad, a different border with the header */
/* or instead of below disable the hr in noteslist under title */
/* .notes-container > li:nth-child(2) > div { 
  border-top: none;
} */

.note-body {
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
}

#note-title-form {
  padding: 10px 40px;
}

/* .notes-list {
  background-image: image('');
} */


/* loading page */

.loading-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

/* background img */

.background-img-container {
  border: none;
  top: 50%;
  left: 50%;
  margin-top: 1%;
  padding-left: 5px;
  /* margin-left: 5px; */
}

.background-img {
  width: 90%;
  height: 50%;
  background-repeat: no-repeat;
  pointer-events: none;
}


.dashboard, .container {
  width: 95%; 
  /* may need to add margin and max-width with more components */
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1 0 auto;
}
